.col {
  height: 40px;
  color: white;
  border: 1px solid white;
  text-align: center;
  background-color: blue;
}

.nested {
  background-color: green;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid blue;
}

.col-nested {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}
